* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: black;
}

main {
  color: rgb(122, 122, 122);
}

input {
  background-color: white;
}

option {
  background-color: white;
}

select {
  background-color: white;
}

header {
  display: flex;
  align-items: center;
  vertical-align: middle;
  text-align: center;
  height: 100px;
}

.header-link {
  margin-left: auto;
  margin-right: auto;
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

.search-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.banner-left {
  width: 20%;
  border: 1px solid rgb(122, 122, 122);
  
}

.logo {
  width: 75px;
  width: 100px;
  object-fit: contain;
}

.banner-right {
  width: 20%;
 
  border: 1px solid rgb(122, 122, 122);
}

.middle-wrapper {
  width: 60%;
  display: flex;
  flex-direction: column;
  border-top: 1px solid rgb(122, 122, 122);
  border-bottom: 1px solid rgb(122, 122, 122);
}

.search-text {
  padding: 3px;
  text-align: center;
  color: white;
}

.search-input {
  width: 100%;
  margin-top: 5px;
}

.search-submit-button {
  background-color: white;
  margin-top: 5px;
}

.search-container {
  display: flex;
  
}

#search-form {
  padding: 5px;
  border-bottom: 1px solid rgb(122, 122, 122);
}

#search-type {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

.results-container {
  border: 1px solid rgb(122, 122, 122);
  /* min-height: fit-content; */
  height: 100%;
  overflow: scroll;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  max-height: 80vh
}

.info-text {
  margin-top: 2px;
  margin-bottom: 2px;
  color: white;
}

.info-container {
  display: flex;
  flex-direction: row;
  border: 1px solid rgb(122, 122, 122);
  padding: 3px;
  margin-bottom: 10px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.left-info-container {
  width: 50%;
}

.right-info-container {
  width: 50%;
}

.name-list-container {
  border: 1px solid rgb(122, 122, 122);
  background-color: black;
  border-radius: 15px;
  padding: 3px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.button-container {
  display: flex;
  justify-content: center;
}

.loading-text {
  text-align: center;
}

.result-header {
    display: block;
    font-size: 1.5em;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    background-color: black(122, 122, 122);
    color: white;
    text-decoration: none;
    text-align: center;
}

.result-header:hover {
  background-color: white;
  color: black;
}

.info-name {
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
  color: white;
}

.back-button {
  border: solid 1px rgb(122, 122, 122);
  padding: 3px;
  text-decoration: none;
  color: white;
  cursor: pointer;
}